@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-space-grotesk);
  --font-mono: var(--font-mono);
  --color-redshift-red: #FF3131;
  --color-redshift-black: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}